body {
    
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 0;
    background-image: url("hotel_background3.png"),url("hotel_backgroung1.png"),url("hotel_background2.png");
    background-position:left top,center top,right top;   
    background-repeat:no-repeat,no-repeat,no-repeat;

}
body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

header {
    background: #008b8b;
    color: #daa520;
    padding: 0px;
    font-style: serif;
    font-size: 20px;
}
.vertical-line {
    border-left: 1px solid black;
    height: 300px;
}
h1 {
    margin: 0;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
.hotel-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.date-input {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.date-input input {
    margin: 0 10px;
    padding:10x;
    width: 200px;
    font-size: px;
    
}

section {
    padding: 40px;
}

#banner {
    background-image: url(bg1.jpg);
    background-size: cover;
    text-align: center;
    padding: 200px 0;
    color: #daa520;
    
}
.green-text {
    color: green;
}

#about {
    background: #f5f5f5;
}

#rooms {
    background: #fff;
}

.room {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.room img {
    width: 100%;
}

h2, h3 {
    color: #333;
}

.price {
    font-weight: bold;
    color: #daa520;
}

.btn {
    display: inline-block;
    background: #daa520;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
}
.btn1 {
    display: inline-block;
   /* background: #daa520;*/
   /border-color: #daa520;/
    color: #fff;
   /* padding: 15px;*/
    text-decoration: none;
    margin-top: 10px;
    background: none;
    border: 2px solid #daa520;
    padding: 10px 20px;
    text-decoration: none;
    /display: inline-block;/
    font-size: 16px;
    cursor: pointer;
}

ul {
    padding-left: 20px;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}